<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ann.financial.manager.provider.deal.group.mapper.TbDealGroupMapper">
    <resultMap id="BaseResultMap" type="cn.ann.financial.manager.provider.deal.group.domain.TbDealGroup">
        <!--@mbg.generated generated on Sat Mar 21 20:26:03 CST 2020.-->
        <!--@Table tb_deal_group-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="open" jdbcType="INTEGER" property="open"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Sat Mar 21 20:26:03 CST 2020.-->
        id, `name`, created, updated, intro, remark, `open`, user_id
    </sql>
    <select id="get" resultMap="BaseResultMap"
            parameterType="cn.ann.financial.manager.provider.deal.group.param.DealGroupCondition">
        select
        <include refid="Base_Column_List"></include>
        from tb_deal_group
        <where>
            <if test="name != null and name != ''">and `name` like "%"#{name,jdbcType=VARCHAR}"%"</if>
            <if test="intro != null and intro != ''">and `intro` like "%"#{intro,jdbcType=VARCHAR}"%"</if>
            <if test="open != null">and `open` = #{open,jdbcType=INTEGER}</if>
            <if test="userId != null">and user_id = #{userId,jdbcType=BIGINT}</if>
        </where>
    </select>
</mapper>